.base {
  display: flex;
  height: 100vh;
}

.base-contents {
  flex: 1;
}

.logout-wrap {
  position: absolute;
  bottom: 50px;
}
.logout {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  background-color: white;
  font-size: 20px;
}

.sidebar {
  padding: 24px 14px;
  width: 250px;
  background-color: black;
  color: white;
  flex-direction: column;
}

.sidebar h1 {
  font-size: 28px;
}

.sidebar a {
  color: white !important;
  text-decoration: none;
}

.sidebar-title {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.sidebar-wrap {
  padding: 6px;
  border: 1px solid white;
  border-radius: 36px;
}
.sidebar-item {
  font-size: 24px;
  padding: 0 12px;
}

.main--contents {
  display: flex;
  justify-content: center;
}

.form-title {
  font-size: 30px;
  font-weight: bold;
}
.form-width {
  width: 600px;
}
.vertical-padding {
  padding: 16px 0;
}
.label-item {
  font-size: 24px;
}
.input-item {
  width: 100%;
  height: 42px;
  border-radius: 12px;
}

.form-button {
  width: 200px;
  height: 50px;
  border-radius: 24px;
  background-color: black;
  color: white;
}

.center-wrap {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */

.header {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  padding: 0 16px;
}

.header-contents-left {
  margin-right: auto;
}
.header-contents-right {
  display: flex;
  justify-content: flex-end;
}
.header-contents-item {
  margin: 16px;
  font-size: 36px;
  color: white;
}
.header-contents-item:hover {
  margin: 16px;
  font-size: 36px;
  color: white;
  text-decoration: none;
}
