:root {
  --color-foreground: hsl(0, 0%, 0%);
  --color-background: hsl(0, 0%, 100%);
  --color-primary: hsl(230, 100%, 50%);
  --color-primary-light: hsl(230, 100%, 60%);
  --color-primary-dark: hsl(230, 100%, 40%);
  --color-gray-dark: hsl(0, 0%, 60%);
  --color-gray-light: hsl(0, 0%, 90%);
  --font-body: -apple-system, "Segoe UI", Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif, system-ui, "Apple Color Emoji", "Segoe UI Emoji";
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-body);
  line-height: 1.5;
}

a {
  color: var(--color-primary-light);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary-dark);
  text-decoration: underline;
}

/* Header */

.header {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  padding: 0 16px;
}

.header--contents--left {
  margin-right: auto;
}
.header--contents--right {
  display: flex;
  justify-content: flex-end;
}
.header--contents__item {
  margin: 16px;
  font-size: 36px;
  color: white;
}
.header--contents__item:hover {
  margin: 16px;
  font-size: 36px;
  color: white;
  text-decoration: none;
}
